<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Monitorización Electroencefalográfica por Video y Radio</h1>
    <div class="card-content">
      <div class="card-text">
            <p>
              La <strong>monitorización electroencefalográfica por video y radio:</strong> es un estudio que combina la
              grabación continua de video con el registro de la actividad eléctrica del cerebro (EEG), permitiendo
              correlacionar los cambios eléctricos con las manifestaciones físicas del paciente.
            </p>
            <p>
              Este método, también conocido como <strong>videotelemetría</strong>, se utiliza principalmente para el
              diagnóstico y seguimiento de la epilepsia y otros trastornos neurológicos.
            </p>
         </div>
      <div class="image">
        <img src="assets/images/Preparacion-video-adulto.png" alt="Monitorización electroencefalográfica por video y radio" />
       </div>

       <div class="image">
        <img src="assets/images/Preparacion-video-pediatrica.png" alt="Monitorización electroencefalográfica por video y radio" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
    </div>
  </div>
</section>