<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Potenciales Evocados</h1>
    <div class="card-content">
      <div class="card-text">
        <p>
          Los potenciales evocados son una prueba diagnóstica que mide la respuesta del sistema nervioso a estímulos sensoriales como la vista, el oído o el tacto. Se utilizan para evaluar la integridad de las vías nerviosas y detectar problemas en el cerebro o la médula espinal, ayudando en el diagnóstico de enfermedades neurológicas.
        </p>

        <h3>Tipos comunes de potenciales evocados</h3>
        <ul>
          <li><strong>Potenciales Evocados Visuales (PEV):</strong> Evalúan la vía visual desde el ojo hasta la corteza occipital, utilizando estímulos como flashes de luz o un patrón de tablero de ajedrez en una pantalla.</li>
          <li><strong>Potenciales Evocados Auditivos (PEA):</strong> Miden la respuesta del sistema auditivo a estímulos de sonido aplicados a través de auriculares, evaluando desde el oído hasta el tronco encefálico.</li>
          <li><strong>Potenciales Evocados Somatosensoriales (PESS):</strong> Evalúan las vías nerviosas sensoriales que transmiten información táctil mediante estímulos eléctricos leves en manos o pies.</li>
        </ul>
      </div>

      <div class="image">
        <img src="assets/images/Potenciales-evocados.jpg" alt="Potenciales Evocados"/>
      </div>

      <div class="image">
        <img src="assets/images/Trasnocho.jpg" alt="Potenciales Evocados"/>
      </div>

      <div class="image">
        <img src="assets/images/Somatosensoriales.jpg" alt="Potenciales Evocados"/>
      </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
        ←
      </div>
    </div>
  </div>
</section>
