<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Medicina Fisíca y Rehabilitación</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de fisiatría es una evaluación médica realizada por un especialista en medicina física y rehabilitación (fisiatra) para diagnosticar y tratar problemas de movilidad y función corporal causados por lesiones, enfermedades o discapacidades. Durante la consulta, el fisiatra revisa el historial médico, realiza un examen físico, evalúa la función del cuerpo y puede solicitar pruebas adicionales, como radiografías, resonancias magnéticas o electromiografías. El objetivo es ayudar a los pacientes a recuperar la mayor funcionalidad posible para mejorar su calidad de vida.
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Fisiatria2.jpg" alt="Consulta de Fisiatria" />
      </div>

      <div class="function">
        <h2>¿Qué sucede durante una consulta de fisiatría?</h2>
        <ul>
          <li><strong>Historia clínica:</strong> El médico te hará preguntas sobre tu salud, los síntomas y el motivo de la consulta.</li>
          <li><strong>Examen físico:</strong> Se realiza una evaluación para analizar tu estado físico y evaluar función, fuerza, equilibrio y marcha.</li>
          <li><strong>Pruebas adicionales:</strong> Se pueden solicitar estudios como radiografías, resonancias magnéticas, tomografías o electrofisiología.</li>
          <li><strong>Evaluación de dispositivos:</strong> Se revisan aparatos de asistencia como muletas o sillas de ruedas.</li>
        </ul>
      </div>

      <div class="uses">
        <h3>¿Qué tratamientos utiliza el fisiatra?</h3>
        <ul>
          <li><strong>Medicación:</strong> Para controlar el dolor, la inflamación o la espasticidad dependiendo del diagnóstico.</li>
          <li><strong>Inyecciones terapéuticas:</strong> Como la toxina botulínica, esteroides o bloqueo de nervios para manejar ciertas condiciones musculares o articulares.</li>
          <li><strong>Procedimientos físicos:</strong> Técnicas como la liberación de fascias, percusión muscular, terapias manuales especializadas y manejo intervencionista del dolor.</li>
          <li><strong>Rehabilitación:</strong> El fisiatra puede derivarte a programas integrales de rehabilitación como fisioterapia, terapia ocupacional, terapia del lenguaje y programas de ejercicio terapéutico.</li>
        </ul>
      </div>

    </div>

    <div class="back-btn" title="Volver" (click)="returnServices()">
      ←
    </div>

  </div>
</section>
