<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Infiltraciones y Bloqueos</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Las infiltraciones y bloqueos son técnicas mínimamente invasivas realizadas por fisiatras y otros médicos del dolor para aliviar el dolor crónico, que implican la inyección de medicamentos directamente en la zona afectada. Estas inyecciones pueden ser una herramienta diagnóstica para identificar la causa del dolor o un tratamiento terapéutico para aliviar la inflamación y bloquear las señales de dolor. Los procedimientos suelen ser ambulatorios, de corta duración y pueden ser guiados por imágenes para mayor precisión. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Infiltracion.png" alt="Infiltracion" />
      </div>

      <div class="function">

        <h2>En qué consisten:</h2>

        <ul>
          <li><strong>Procedimiento:</strong> Se inyecta una mezcla de anestésicos locales y/o esteroides cerca del nervio o articulación que causa el dolor.</li>
          <li><strong>Diagnóstico:</strong> Ayudan a confirmar si una articulación específica o un nervio es el origen del dolor, lo que permite pautar tratamientos más definitivos.</li>
          <li><strong>Tratamiento:</strong> Interrumpen la transmisión de las señales de dolor al cerebro, reduciendo la inflamación y el dolor asociado.</li>
        </ul>

        <h3>Tipos comunes:</h3>

        <ul>
          <li><strong>Bloqueo epidural:</strong>Inyección en el espacio epidural alrededor de la médula espinal, útil para aliviar el dolor lumbar o cervical.</li>
          <li><strong>Infiltración de articulaciones:</strong> Inyección en articulaciones específicas, como las facetarias o sacroilíacas, para tratar el dolor de espalda.</li>
          <li><strong>Bloqueo de nervios:</strong> Inyección dirigida a nervios específicos, como un bloqueo radicular selectivo, para tratar el dolor irradiado.</li>
          <li><strong>Infiltración de puntos gatillo:</strong> Inyección directamente en los puntos musculares que causan dolor.</li>
        </ul>

      </div>

    <div class="image">
        <img src="assets/images/Bloqueo.png" alt="Bloqueo" />
    </div>

      <div class="uses">

        <h4>Consideraciones importantes:</h4>

        <ul>
          <li><strong>Efecto:</strong> El alivio del dolor de los anestésicos locales es inmediato pero temporal (horas o días), mientras que los esteroides tardan más en hacer efecto pero pueden durar semanas o meses.</li>
          <li><strong>Duración:</strong> El efecto puede variar según el paciente y el medicamento. A veces, puede ser necesario repetir los bloqueos para lograr un alivio a largo plazo.</li>
          <li><strong>Procedimiento ambulatorio:</strong> La mayoría de los procedimientos se realizan de forma ambulatoria, sin necesidad de hospitalización, y el paciente puede volver a casa el mismo día.</li>
          <li><strong>Seguridad:</strong> Aunque son procedimientos generalmente seguros, pueden existir riesgos como infección, sangrado o daño nervioso en casos raros.</li>
        </ul>

      </div>

    </div>

    <div class="back-btn" title="Volver" (click)="returnServices()">
      ←
    </div>

  </div>
</section>