<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Neuropsicología Adulto</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de neuropsicología para adultos evalúa el funcionamiento cerebral a través de entrevistas y pruebas para diagnosticar alteraciones cognitivas, emocionales y conductuales, y luego diseña un tratamiento personalizado que puede incluir la restauración de funciones, el uso de estrategias de compensación, estimulación cognitiva y rehabilitación. El objetivo es ayudar al paciente a comprender sus dificultades y mejorar su funcionamiento diario. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Consulta.jpg" alt="Consulta de Neuropsicologia-adulto" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
      
    </div>
  </div>
</section>
