<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Electromiografía (EMG) y Neuroconducción</h1>
    <div class="card-content">
      <div class="card-text">
           <p>
            La <strong>Electromiografía (EMG)</strong> y la <strong>Neuroconducción</strong> son dos pruebas diagnósticas
            neurofisiológicas que evalúan el funcionamiento del sistema nervioso periférico (nervios y músculos).
           </p>

           <p>
            La Neuroconducción mide la velocidad y la fuerza de las señales eléctricas a lo largo de los nervios,
            mientras que la electromiografía registra la actividad eléctrica dentro de los músculos. Ambas se suelen
            realizar juntas para obtener una imagen completa y diagnosticar trastornos neuromusculares, como neuropatías
            o miopatías.
           </p>
         </div>

      <div class="image">
        <img src="assets/images/Emg.jpg" alt="Electromiografia y Neuroconduccion"/>
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
    </div>
  </div>
</section>