<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Polisomnografía con Oximetría / CPAP</h1>
    <div class="card-text">
      <p>
        La <strong>polisomnografía con oximetría</strong> es un estudio del sueño que registra simultáneamente la
        actividad cerebral, el ritmo cardíaco, la respiración y los niveles de oxígeno en la sangre (oximetría)
        para diagnosticar trastornos del sueño como la apnea del sueño.
      </p>
      <p>
        La oximetría es un componente clave que utiliza un pulsioxímetro, generalmente colocado en un dedo, para
        medir la saturación de oxígeno y detectar interrupciones en la respiración.
      </p>
    </div>

    <div class="image">
      <img src="assets/images/Preparacion-poli-adulto.png" alt="Estudio de Polisomnografía con Oximetría" />
    </div>

    <div class="image">
      <img src="assets/images/Preparacion-poli-pediatrica.png" alt="Estudio de Polisomnografía con Oximetría" />
    </div>

    <div class="back-btn" title="Volver" (click)="returnServices()">
      ←
    </div>

  </div>
</section>