<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Neurología Adulto</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de neurología para adultos es una evaluación con un médico especialista en el sistema nervioso para diagnosticar y tratar problemas neurológicos del sistema nervioso central (cerebro y médula espinal) y periférico (nervios). Se recomienda acudir si se presentan síntomas como dolores de cabeza intensos, problemas de memoria, entumecimiento, hormigueo, debilidad muscular, mareos o convulsiones. Durante la consulta, el neurólogo realizará un examen físico, evaluará la historia clínica y, si es necesario, solicitará pruebas complementarias para determinar el diagnóstico y tratamiento adecuados. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Consulta.jpg" alt="Nuerologia adulto" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
      
    </div>
  </div>
</section>
