<div class="topbar">
  <div class="contact-info">
    <div class="contact-item">
      <img src="assets/mail-icon.png" alt="Correo" />
      <span>programacion@neuroimagenes.com</span>
    </div>
    <div class="contact-item">
      <img src="assets/phone-icon.png" alt="Teléfono fijo" />
      <span>(606)7362592</span>
    </div>
    <div class="contact-item">
      <img src="assets/whatsapp-icon.png" alt="WhatsApp" />
      <span>3217776156</span>
    </div>
  </div>
</div>

<header class="navbar-container">
  <div class="logo">
    <img src="assets/images/LOGO NEUROIMAGENES.png" alt="Neuroimágenes" />
  </div>
    <nav class="nav-links">
        <a href="/page/home">INICIO</a>
        <a href="/page/equipo-medico">EQUIPO MEDICO</a>
        <a href="/page/">NOSOTROS</a>
        <a href="#">SERVICIOS</a>
        <a href="#">PREPARACIÓN PARA EXÁMENES</a>
        <a href="#">CONTÁCTENOS</a>
    </nav>
    <div class="container-buttons"></div>

  <div class="social-icons">
    <a href="#" aria-label="Facebook"><img src="/assets/facebook-icon.png" alt="Facebook" /></a>
    <a href="#" aria-label="Instagram"><img src="/assets/instagram-icon.png" alt="Instagram" /></a>
  </div>
</header>
