<header class="navbar-container">
  <div class="logo">
    <img src="assets/logo-neuroimagenes.png" alt="Neuroimágenes" />
  </div>
    <nav class="nav-links">
        <a href="/page/home">INICIO</a>
        <a href="/page/equipo-medico">NOSOTROS</a>
        <a href="#">SERVICIOS</a>
        <a href="#">PREPARACIÓN PARA EXÁMENES</a>
        <a href="#">CONTÁCTENOS</a>
    </nav>
      <div class="container-buttons">
  </div>
  <div class="social-icons">
    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
      <img src="assets/facebook-icon.png" alt="Facebook" />
    </a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
      <img src="assets/instagram-icon.png" alt="Instagram" />
    </a>
  </div>
</header>
