.topbar {
  width: 100%;
  background-color: #f9f9f9; /* color de fondo claro */
  border-bottom: 1px solid #e0e0e0; /* línea divisoria opcional */
  padding: 0.2rem 1rem; /* espacio vertical y horizontal */
  display: flex;
  justify-content: flex-end; /* alinear contenido a la derecha */
  align-items: center;
  font-size: 0.85rem; /* tamaño de texto */
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 1rem; /* espacio entre items */
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.3rem; /* espacio entre icono y texto */
}

.contact-item img {
  height: 16px;
  width: 16px;
  object-fit: contain;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #009999, #0066cc); /* degrade azul-verde */
  padding: 0.5rem 1rem;
  color: #fff;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
}

.container-buttons {
  width: 100px;
  height: 100%;
  background-color: red; /* igual al fondo de los botones */
  clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%);
  flex-shrink: 0;
}

.nav-links a {
  background-color: #00b386;  /* verde botón */
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #008060;
}

// .nav-links a:last-child {
//   background-color: #0066cc; /* azul oscuro para el último botón */
//   clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%); /* flecha */
// }

.social-icons {
  display: flex;
  gap: 0.5rem;
}

.social-icons img {
  height: 30px;
  width: 30px;
}
