.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* ocupa toda la altura de la ventana */
  background-image: url('/assets/images/Foto Neuro.png'); /* cambia por tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  .hero-overlay {
    width: 100%;
    text-align: center;
    padding: 2rem;

    h1 {
      font-size: 1.5rem; /* tamaño base */
      font-weight: bold;
      color: #004080; /* azul corporativo */
      line-height: 1.0;
      text-align: above;

      span {
        display: block;
        margin-top: 0.5rem;
      }
    }
  }
}

/* RESPONSIVE: agrandar más en pantallas grandes */
@media (min-width: 768px) {
  .hero .hero-overlay h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .hero .hero-overlay h1 {
    font-size: 3rem;
  }
}

