.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  .hero-overlay {
    width: 100%;
    padding: 2rem;
    text-align: center;
    h1 {
      font-size: 1.5rem; 
      font-weight: bold;
      color: #004080; 
      line-height: 1.0;
      text-align: above;

      span {
        display: block;
        margin-top: 0.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .hero .hero-overlay h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .hero .hero-overlay h1 {
    font-size: 2rem;
  }
}

