<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Neurología Pediátrica</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de neurología pediátrica se realiza cuando un niño presenta síntomas como retrasos en el desarrollo, problemas del lenguaje, convulsiones o dolores de cabeza recurrentes, entre otros. El tratamiento varía según el diagnóstico y puede incluir medicamentos, terapias (fisioterapia, logopedia, etc.) y, en algunos casos, intervenciones quirúrgicas o un enfoque interdisciplinario con otros especialistas. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Consulta.jpg" alt="Neurología Pediatrica" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
      
    </div>
  </div>
</section>
