<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Neurología Pediátrica</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de neurología pediátrica se realiza cuando un niño presenta síntomas como retrasos en el desarrollo, problemas del lenguaje, convulsiones o dolores de cabeza recurrentes, entre otros. El tratamiento varía según el diagnóstico y puede incluir medicamentos, terapias (fisioterapia, logopedia, etc.) y, en algunos casos, intervenciones quirúrgicas o un enfoque interdisciplinario con otros especialistas. 
        </p>

        <ul>
          <li><strong>¿Cuándo consultar?:</strong></li>

          <li><strong>Retrasos en el desarrollo:</strong> Dificultad para gatear, caminar, hablar o alcanzar otros hitos del desarrollo.</li>
          <li><strong>Problemas de lenguaje:</strong> Dificultad para hablar, masticar o tragar.</li>
          <li><strong>Crisis convulsivas:</strong> Como convulsiones o ausencias, con o sin fiebre.</li>
          <li><strong>Dolores de cabeza recurrentes:</strong> Y otros síntomas como debilidad o mareos.</li>
          <li><strong>Problemas de movimiento:</strong> Dificultad de coordinación, movimientos anormales o temblores.</li>
          <li><strong>Problemas de aprendizaje:</strong> Sospecha de trastornos como TDAH, dislexia, o discapacidad intelectual.</li>
          <li><strong>Alteraciones visuales o auditivas:</strong> que puedan estar relacionadas con el sistema nervioso. </li>
        </ul>

      </div>

      <div class="image">
        <img src="assets/images/Neurologia-pediatrica2.png" alt="Consulta de Neurologia-pediatrica" />
      </div>

      <div class="function">

        <h2>¿Qué sucede durante la consulta?</h2>

        <ul>
          <li><strong>Historia clínica:</strong> Se revisa el historial médico completo del niño.</li>
          <li><strong>Examen físico y neurológico:</strong> Se evalúa el estado mental, la función motora, el equilibrio, los reflejos y los nervios craneales. Se pueden usar herramientas sencillas como un martillo de reflejos o una linterna.</li>
          <li><strong>Pruebas diagnósticas:</strong> Se pueden solicitar exámenes adicionales para diagnosticar el problema, como estudios de imagen del cerebro o análisis genéticos..</li>
       </ul>

      </div>

      <div class="uses">

        <h3>Tratamientos comunes</h3>

        <ul>
          <li>El tratamiento depende del diagnóstico específico y puede incluir:</li>

          <li><strong>Medicamentos:</strong> Para controlar síntomas como las convulsiones o el dolor.</li>
          <li><strong>Asesoramiento y apoyo:</strong> Para ayudar a los niños y sus familias a comprender y manejar su condición.</li>
          <li><strong>Intervenciones especializadas:</strong> En casos complejos, se pueden requerir cirugías o un enfoque de equipo multidisciplinario que involucre a otros especialistas pediátricos.</li>
          <li><strong>Terapias no farmacológicas:</strong> Incluyen técnicas de manejo del dolor como la estimulación eléctrica o terapias de relajación. </li>
        </ul>

      </div>

    </div>

    <div class="back-btn" title="Volver" (click)="returnServices()">
      ←
    </div>

  </div>
</section>