<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Electroencefalograma (EEG) Computarizado</h1>
    <div class="card-content">
      <div class="card-text">
            <p>
               Un <strong>electroencefalograma (EEG) computarizado</strong> es un estudio que registra la actividad eléctrica del cerebro mediante electrodos en el cuero cabelludo, similar al EEG convencional.
               La principal diferencia es que utiliza <strong>software especializado</strong> para procesar y analizar los datos, generando mapas de actividad cerebral y detectando anomalías con mayor eficacia que el método tradicional.
            </p>
         </div>
         
      <div class="image">
        <img src="assets/images/Preparacion-electroencefalograma.jpg" alt="EEG Computarizado"/>
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
    </div>
  </div>
</section>