<div class="home-wrap">
  <div class="home-inner">
    <aside class="left-panel">
      <div class="left-inner">
        <div class="logo-wrap">
          <img src="assets/images/Neuroimagenes.png" alt="Logoneuro" />
        </div>

        <div class="contact">
          <p class="small">Calle 3N # 16-17 Barrio Nueva Cecilia</p>
          <p class="small">Teléfono: (606)7362592 - Whatsapp: 3217776156 - 3217776151</p>
          <p class="small">Email: programacion@neuroimagenes.com<br/>administracion@neuroimagenes.com</p>

          <div class="spacer"></div>

          <p class="small"><strong>Horario de atención:</strong></p>
          <p class="small">Lunes a viernes de 07:00 am a 06:00 pm</p>
          <p class="small">Sábado de 08:00 am a 12:00 m</p>

          <div class="spacer"></div>

          <p class="small">Armenia Quindío</p>
        </div>
      </div>
    </aside>

    <section class="right-panel">
      <div class="photo-wrap">
        <img src="assets/images/FotoNeuro.png" alt="Fachada Neuroimágenes" />
      </div>
    </section>
  </div>
</div>
