<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Especialista.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DR. OSCAR ALBERTO CARVAJAL MEJIA</h5>
                <p class="card-text">NEUROLOGO CLINICO.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Especialista.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DR. MARLON IGOR MARTINEZ</h5>
                <p class="card-text">NEUROLOGO CLINICO.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Mujer.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DRA. SANDRA MILENA RAMIREZ</h5>
                <p class="card-text">NEUROLOGA CLINICA PEDIATRICA.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Mujer.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DRA. LUISA FERNANDA MARQUEZ</h5>
                <p class="card-text">NEUROLOGA CLINICA PEDIATRICA.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Especialista.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DR. JOHAN FERNANDO CANTOR</h5>
                <p class="card-text">FISIATRA CLINICO.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Mujer.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DRA. PATRICIA GUTIERREZ RAMIREZ</h5>
                <p class="card-text">FISIATRA CLINICA.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Especialista.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DR. JAIRO ALBERTO MALAGON MARTINEZ</h5>
                <p class="card-text">FISIATRA CLINICO.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Mujer.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DRA. VALENTINA OSPINA</h5>
                <p class="card-text">NEUROPSICOLOGA CLINICA.</p>
            </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Especialista.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DR. GIOVANNI LARA</h5>
                <p class="card-text">NEUROPSICOLOGO CLINICO.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Mujer.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DRA. PAULA ANDREA PEÑA</h5>
                <p class="card-text">NEUROPSICOLOGA CLINICA PEDIATRICA.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 card" style="width: 18rem;">
            <img src="assets/images/Mujer.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DRA. LINA BEDOYA</h5>
                <p class="card-text">NEUROPSICOLOGA CLINICA PEDIATRICA.</p>
          