<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Medios de pago</h1>

    <div class="card-text">
        <p>
        Debido a la alta inasistencia presentada por los pacientes ocasionando la pérdida de cupos en las agendas; se estableció a partir del día <strong>19/08/2025</strong> que todo servicio de forma particular o convenio para poder ser atendido y darle trámite a la solicitud de cita se debe realizar el pago de la misma con <strong>anticipación a la programación</strong>, por tal motivo no es posible asignarle la cita solicitada hasta no contar con el <strong>soporte de pago</strong>, ya que el sistema se encuentra configurado para diligenciar el número de la transacción y de esta forma poder grabar la cita, le recuerdo que este pago lo puede realizar de <strong>manera presencial</strong> en nuestra sede ubicada en la <strong>calle 3 norte # 16-17 barrio nueva Cecilia</strong> o por medio de <strong>transferencia a cualquiera de nuestras cuentas bancarias</strong>, enviando comprobante de pago al siguiente número de whatsapp <strong>(3217776151 - 3217776156)</strong>. 
        </p>
    </div>

    <div class="image">
      <img src="assets/images/Mediosdepago.jpg" alt="Medios de pago" />
    </div>

  </div>
</section>
