<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Neuropsicología Pediátrica</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de neuropsicología pediátrica evalúa las funciones cognitivas, emocionales y conductuales de un niño a través de pruebas estandarizadas, observación clínica e historial médico, con el fin de identificar déficits o trastornos del desarrollo. El tratamiento es multifacético y se basa en la rehabilitación individualizada, la terapia para el niño, y la colaboración con padres y colegios para aplicar estrategias en el día a día. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Neuropsicologia-pediatrica2.png" alt="Consulta de Neuropsicologia-pediatrica" />
      </div>

      <div class="function">

        <h2>¿En qué consiste la consulta?</h2>

        <ul>
          <li><strong>Evaluación exhaustiva:</strong> Se administra una serie de pruebas para medir capacidades como la atención, memoria, lenguaje, planificación y habilidades académicas (lectura, escritura, cálculo).</li>
          <li><strong>Observación clínica:</strong> Se observa la interacción del niño con su entorno y su comportamiento mientras realiza las tareas.</li>
          <li><strong>Recopilación de información:</strong> Se realiza una entrevista detallada con los padres para obtener el historial clínico, antecedentes de desarrollo, y se revisan informes previos y resultados de neuroimagen si están disponibles.</li>
          <li><strong>Identificación de fortalezas y debilidades:</strong> El neuropsicólogo identifica las áreas de fortaleza y las dificultades del niño, que pueden ser resultado de lesiones cerebrales, trastornos neurológicos, genéticos, o del desarrollo.</li>
          <li><strong>Diagnóstico y seguimiento:</strong> La evaluación ayuda a realizar un diagnóstico diferencial, monitorizar la evolución del paciente y evaluar la efectividad de los tratamientos.</li>
        </ul>

      </div>

      <div class="uses">

        <h3>¿Cómo es el tratamiento?</h3>

        <ul>
          <li><strong>Enfoque personalizado:</strong> El tratamiento se diseña según la edad del niño, la especificidad y la gravedad del trastorno.</li>
          <li><strong>Rehabilitación multinivel:</strong> La intervención se extiende más allá de la consulta:</li>
               <li><strong>Terapia individual:</strong> Se trabaja directamente con el niño en terapia para mejorar sus habilidades.</li>
               <li><strong>Colaboración con la familia:</strong> Los padres reciben estrategias para apoyar el desarrollo del niño en casa.</li>
               <li><strong>Coordinación con la escuela:</strong> Se colabora con el colegio para implementar las recomendaciones necesarias y asegurar un entorno de apoyo.</li>
          <li><strong>Objetivo principal:</strong> Enseñar al niño y a su entorno a manejar los déficits y a comportarse de manera más funcional en casa y en la escuela.</li>
        </ul>

      </div>

    </div>

    <div class="back-btn" title="Volver" (click)="returnServices()">
      ←
    </div>

  </div>
</section>