<div class="page-wrap nosotros-wrap">
  <main class="main-content">
    <div class="row margin-rows container-logo">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <aside class="sidebar">
            <div class="logo">
              <img src="assets/images/Logoneuro.png" alt="Logoneuro" />
            </div>
          </aside>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h1 class="title">NOSOTROS</h1>
      </div>
    </div>

    <div class="row margin-rows">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <figure class="poster poster--mision">
            <img src="assets/images/Historia.png" alt="Historia" />
        </figure>
      </div>
    </div>

    <div class="row margin-rows">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <figure class="poster poster--mision">
            <img src="assets/images/Mision.png" alt="Mision" />
          </figure>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <figure class="poster poster--vision">
            <img src="assets/images/Vision.png" alt="Vision" />
          </figure>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <figure class="poster poster--principios">
            <img src="assets/images/Principios.png" alt="Principios" />
          </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <figure class="poster poster--valores-left">
            <img src="assets/images/Valores.png" alt="Valores" />
          </figure>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <figure class="poster poster--valores-right">
            <img src="assets/images/Valores2.png" alt="Valores2" />
          </figure>
      </div>
    </div>
  </main>
</div>
