<div class="page-wrap servicios-wrap">
  <aside class="sidebar">
    <div class="logo">
      
      <img src="assets/images/Logoneuro.png" alt="Logoneuro" />
    </div>
  </aside>

  <main class="main-content">
    <h1 class="title">CONSULTAS</h1>

    <p class="intro">
      En Neuroimágenes S.A. estamos comprometidos con el cuidado integral de la salud neurológica. Nuestra misión es ofrecer diagnósticos precisos y personalizados mediante tecnología de vanguardia y un equipo multidisciplinario de especialistas en neurología, fisiatría y neuropsicología.
    </p>

    <section class="services-wrapper">
      <div class="services-grid">

        <article class="service" (click)="goToPage('fisiatria')">
          <div class="icon-circle">
            <img src="assets/images/Fisiatria.png" alt="Fisiatria" />
          </div>
          <h3 class="svc-title">FISIATRIA</h3>
          <p>
        </article>

        <article class="service" (click)="goToPage('neurologia-adulto')">
          <div class="icon-circle">
            <img src="assets/images/Neurologia-adulto.png" alt="Neurologia-adulto" />
          </div>
          <h3 class="svc-title">NEUROLOGIA ADULTO</h3>
          <p>
        </article>

        <article class="service" (click)="goToPage('neurologia-pediatrica')">
          <div class="icon-circle">
            <img src="assets/images/Neurologia-pediatrica.png" alt="Neurologia-pediatrica" />
          </div>
          <h3 class="svc-title">NEUROLOGIA PEDIATRICA</h3>
          <p>
        </article>

        <article class="service" (click)="goToPage('neuropsicologia-adulto')">
          <div class="icon-circle">
            <img src="assets/images/Neuropsicologia-adulto.png" alt="Neuropsicologia-adulto" />
          </div>
          <h3 class="svc-title">NEUROPSICOLOGIA ADULTO</h3>
          <p>
        </article>

        <article class="service" (click)="goToPage('neuropsicologia-pediatrica')">
          <div class="icon-circle">
            <img src="assets/images/Neuropsicologia-pediatrica.png" alt="Neuropsicologia-pediatrica" />
          </div>
          <h3 class="svc-title">NEUROPSICOLOGIA PEDIATRICA</h3>
          <p>
        </article>

        <article class="service" (click)="goToPage('aplicacion-toxina')">
          <div class="icon-circle">
            <img src="assets/images/Aplicacion-toxina.png" alt="Aplicacion-toxina" />
          </div>
          <h3 class="svc-title">APLICACION DE TOXINA</h3>
          <p>
        </article>

        <article class="service"(click)="goToPage('infiltracion-bloqueos')">
          <div class="icon-circle">
            <img src="assets/images/Infiltracion-bloqueos.png" alt="Infiltracion-bloqueos" />
          </div>
          <h3 class="svc-title">INFILTRACION Y BLOQUEOS</h3>
          <p>
        </article>
      </div>
    </section>
  </main>
</div>
<div class="back-btn" title="Volver" (click)="returnServices()">
    ←
</div>