<section class="servicio-card">
  <div class="card-container">
    <h1 class="title"><strong>Pruebas Neuropsicológicas y Terapias Cognitivas</strong></h1>
    <div class="card-content">
      <div class="card-text">

    <h2><strong>Prueba Neuropsicologica:</strong></h2>
           <p>
           Las pruebas neuropsicológicas son evaluaciones para medir funciones cerebrales como memoria, atención y lenguaje,
           mientras que la terapia cognitiva busca mejorar y rehabilitar estas funciones. Ambas se usan juntas, donde las pruebas ayudan a diagnosticar problemas, y la terapia interviene para entrenar o mejorar las habilidades afectadas y así potenciar el rendimiento diario del paciente.
           </p>

    <h3><strong>Terapia Cognitiva:</strong></h3>
           <p>
           También conocida como terapia cognitivo-conductual (TCC), es un tipo de psicoterapia que ayuda a las personas a
           identificar y cambiar patrones de pensamiento y comportamiento negativos que causan malestar emocional.
           </p>
         </div>

      <div class="image">
        <img src="assets/images/Preparacion-prueba-neuropsicologica.png" alt="Prueba Neuropsicologica y terapia cognitiva" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
    </div>
  </div>
</section>