<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Aplicación de Toxina</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          La toxina botulínica se aplica para tratar afecciones de exceso de contracción muscular, como la espasticidad, la distonía, el bruxismo, los tics y los espasmos faciales y palpebrales. También se utiliza para la sialorrea (exceso de salivación), la hiperhidrosis (sudoración excesiva) y la migraña crónica. Un neurólogo administra inyecciones locales de la toxina para bloquear las señales nerviosas, relajar los músculos y aliviar los síntomas asociados. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Botox.jpg" alt="Aplicacion de toxina" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
      
    </div>
  </div>
</section>
