<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Infiltraciones y Bloqueos</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Las infiltraciones y bloqueos son técnicas mínimamente invasivas realizadas por fisiatras y otros médicos del dolor para aliviar el dolor crónico, que implican la inyección de medicamentos directamente en la zona afectada. Estas inyecciones pueden ser una herramienta diagnóstica para identificar la causa del dolor o un tratamiento terapéutico para aliviar la inflamación y bloquear las señales de dolor. Los procedimientos suelen ser ambulatorios, de corta duración y pueden ser guiados por imágenes para mayor precisión. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Preparacion-infiltracion.png" alt="Infiltracion" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
      
    </div>
  </div>
</section>
