<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Neurología Adulto</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de neurología para adultos es una evaluación con un médico especialista en el sistema nervioso para diagnosticar y tratar problemas neurológicos del sistema nervioso central (cerebro y médula espinal) y periférico (nervios). Se recomienda acudir si se presentan síntomas como dolores de cabeza intensos, problemas de memoria, entumecimiento, hormigueo, debilidad muscular, mareos o convulsiones. Durante la consulta, el neurólogo realizará un examen físico, evaluará la historia clínica y, si es necesario, solicitará pruebas complementarias para determinar el diagnóstico y tratamiento adecuados. 
        </p>

        <ul>
          <li><strong>Tipos de enfermedades que trata:</strong></li>

          <li><strong>Accidentes cerebrovasculares (ictus)</strong></li>
          <li><strong>Enfermedades neurodegenerativas como el Parkinson y el Alzheimer</strong></li>
          <li><strong>Epilepsia y convulsiones</strong></li>
          <li><strong>Esclerosis múltiple</strong></li>
          <li><strong>Migrañas y dolores de cabeza crónicos</strong></li>
          <li><strong>Neuropatías periféricas y dolores neuropáticos</strong></li>
          <li><strong>Trastornos del sueño</strong></li>
          <li><strong>Lesiones cerebrales y de la médula espinal</strong></li>
        </ul>

      </div>

      <div class="image">
        <img src="assets/images/Neurologia-adulto2.png" alt="Consulta de Neurologia-adulto" />
      </div>

      <div class="function">

        <h2>¿Qué esperar durante la consulta?</h2>

        <ul>
          <li><strong>Evaluación médica:</strong> El neurólogo preguntará sobre tus síntomas, historial médico y familiar, y medicamentos.</li>
          <li><strong>Examen neurológico:</strong> Se realizarán pruebas para evaluar la coordinación, reflejos, fuerza muscular, equilibrio y marcha.</li>
          <li><strong>Pruebas complementarias:</strong> Dependiendo de los síntomas, se pueden solicitar pruebas adicionales como resonancias magnéticas, tomografías computarizadas (TC) o electroencefalogramas (EEG) para obtener un diagnóstico más preciso.</li>
       </ul>

      </div>

      <div class="uses">

        <h3>¿Opciones de tratamiento</h3>

        <ul>
          <li>Los tratamientos varían según la enfermedad y pueden incluir:</li>

          <li><strong>Medicación:</strong> La mayoría de las afecciones neurológicas se tratan con medicamentos, que pueden administrarse por vía oral, inyectados o por infusión.</li>
          <li><strong>Fisioterapia neurológica:</strong> Se utiliza para mejorar la movilidad, el control muscular y el equilibrio tras lesiones o enfermedades.</li>
          <li><strong>Cirugía:</strong> Puede ser necesaria para aliviar la presión sobre un nervio o para tratar otros problemas como tumores o aneurismas.</li>
          <li><strong>Terapias no farmacológicas:</strong> Incluyen técnicas de manejo del dolor como la estimulación eléctrica o terapias de relajación. </li>
        </ul>

      </div>

    </div>

    <div class="back-btn" title="Volver" (click)="returnServices()">
      ←
    </div>

  </div>
</section>
