<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Neuropsicología Pediátrica</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de neuropsicología pediátrica evalúa las funciones cognitivas, emocionales y conductuales de un niño a través de pruebas estandarizadas, observación clínica e historial médico, con el fin de identificar déficits o trastornos del desarrollo. El tratamiento es multifacético y se basa en la rehabilitación individualizada, la terapia para el niño, y la colaboración con padres y colegios para aplicar estrategias en el día a día. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Consulta.jpg" alt="Consulta de Neuropsicologia-pediatrica" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
      
    </div>
  </div>
</section>
