<section class="servicio-card">
  <div class="card-container">
    <h1 class="title">Medicina Fisíca y Rehabilitación</h1>

    <div class="card-content">

      <div class="card-text">
        <p>
          Una consulta de fisiatría es una evaluación médica realizada por un especialista en medicina física y rehabilitación (fisiatra) para diagnosticar y tratar problemas de movilidad y función corporal causados por lesiones, enfermedades o discapacidades. Durante la consulta, el fisiatra revisa el historial médico, realiza un examen físico, evalúa la función del cuerpo y puede solicitar pruebas adicionales, como radiografías, resonancias magnéticas o electromiografías. El objetivo es ayudar a los pacientes a recuperar la mayor funcionalidad posible para mejorar su calidad de vida. 
        </p>
      </div>

      <div class="image">
        <img src="assets/images/Consulta.jpg" alt="Medicina fisica y rehabilitacion" />
       </div>

      <div class="back-btn" title="Volver" (click)="returnServices()">
          ←
      </div>
      
    </div>
  </div>
</section>
