<section class="servicio-card">
  <div class="card-container">
  <h1 class="title">Electromiografía (EMG) y Neuroconducción</h1>
  <div class="emg-container">
  <div class="card-content">
  <div class="card-text">
      <p>
        La <strong>Electromiografía (EMG)</strong> y la <strong>Neuroconducción</strong> son dos pruebas diagnósticas
        neurofisiológicas que evalúan el funcionamiento del sistema nervioso periférico (nervios y músculos).
      </p>

      <p>
        La Neuroconducción mide la velocidad y la fuerza de las señales eléctricas a lo largo de los nervios,
        mientras que la electromiografía registra la actividad eléctrica dentro de los músculos. Ambas se suelen
        realizar juntas para obtener una imagen completa y diagnosticar trastornos neuromusculares, como neuropatías
        o miopatías.
      </p>

      <h2>¿Cómo se realizan las pruebas?</h2>

      <h3>Neuroconducción:</h3>
      <ul>
        <li>Se colocan electrodos en la piel sobre el nervio y los músculos que este controla.</li>
        <li>Se aplica un pequeño pulso eléctrico que estimula el nervio.</li>
        <li>Otros electrodos registran la respuesta del músculo y la velocidad a la que viajó la señal.</li>
      </ul>

      <h3>Electromiografía (EMG):</h3>
      <ul>
        <li>Se introduce una aguja muy fina (con un electrodo) en el músculo.</li>
        <li>Se registra la actividad eléctrica del músculo en reposo y durante la contracción voluntaria.</li>
        <li>
          La actividad eléctrica que emiten los músculos al contraerse es captada por el electrodo y mostrada en
          una pantalla.
        </li>
      </ul>

      <h2>¿Para qué se utilizan?</h2>
      <ul>
        <li>Diagnosticar trastornos nerviosos y musculares como neuropatías, distrofias musculares o miastenia gravis.</li>
        <li>Identificar la ubicación de una lesión o problema en el nervio o el músculo.</li>
        <li>Evaluar la evolución de una enfermedad o lesión con el tiempo.</li>
        <li>Investigar síntomas como debilidad muscular, entumecimiento, hormigueo, calambres o dolor muscular.</li>
      </ul>
    </div>

    <div class="image-section">
      <img src="assets/images/Electromiografia2.png" alt="Electromiografía2" />
      <p class="caption">Examen de Electromiografía y Neuroconducción en Neuroimágenes Armenia</p>
    </div>
  </div>
</div>

<div class="back-btn" title="Volver" (click)="returnServices()">
    ←
</div>